.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #F3F3F3;
}

#board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 10px solid white;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.normal-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #F3F3F3;
  font-size: 2rem;
  font-weight: bold;
  color: #404040;
}

.win-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: forestgreen;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#winner {
  background-color: white;
  padding: 10px;
  min-width: 200px;
}

